@import "compass/css3/border-radius";

body {
    background: #f6f6f6;
    background-image: url('/img/mainbackground.jpg');
    font-family: Helvetica;
}

header {
    background-image: url('/img/topbar.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    color: #f00;
    line-height: 42px;
    font-weight: bold;
    height: 50px;
}

header #title {
    width: 640px;
    margin: 0 auto;
    background-image: url('/img/logo.jpg');
    background-repeat: no-repeat;
    padding-left: 25px;
    color: #333;
    text-shadow: 1px 1px #666;
    line-height: 42px;
    font-weight: bold;
    height: 50px;
}
#main {
    width: 640px;
    margin: 80px auto;
}
#main h1 {
    text-align: center;
    font-size: 32px;
    color: #696969;
    text-shadow:  -1px -1px #525252;
    letter-spacing: -.2px;
    margin-bottom: 30px;
}

#mainblock {
    border: solid 5px #CCC;
    @include border-radius(8px, 8px);
}

#task {
    padding: 20px;
    background: #ededed;
    background-image: url('/img/addtaskbackground.jpg');
}

input#addtasktextfield {
    border: 1px solid #C4C4C4;
    height: 38px;
    background: url('/img/addtasktextfieldbackground.jpg');
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    color: #CCC;
    width: 420px;
}

#addtaskbutton {
    background: url('/img/addtaskbuttonbackground.jpg');
    border: 1px solid #2f53cd;
    @include border-radius(5px, 5px);
    color: #FFF;
    text-shadow: -1px -1px #2f53cd, 1px 1px #73aaff;
    height: 40px;
    margin-left: 20px;
    width: 120px;
    text-align: center;
    font-weight: bold;
}
#addtaskbutton:hover {
    background: url('/img/addtaskbuttonhoverbackground.jpg');
}
#addtaskbutton:active {
    background: url('/img/addtaskbuttonpushedbackground.jpg');
}
