@import "compass/css3/border-radius";
@import "compass/css3/opacity";

body {
    background: #f6f6f6;
    background-image: url('/img/mainbackground.jpg');
    font-family: Helvetica;
}

header {
    background-image: url('/img/topbar.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    color: #f00;
    line-height: 42px;
    font-weight: bold;
    height: 50px;
}

header #title {
    margin-left: 10px;
    background-image: url('/img/logo.jpg');
    background-repeat: no-repeat;
    padding-left: 30px;
    color: #333;
    font-size: 20px;
    text-shadow: 1px 1px #555, -1px -1px #111;
    line-height: 42px;
    font-weight: normal;
    height: 50px;
}
header #signout {
    background-image: url('/img/signoutbutton.jpg');
    float: right;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    color: #CCC;
    font-size: 14px;
    text-shadow: 1px 1px #555, -1px -1px #111;
    line-height: 42px;
    font-weight: bold;
    height: 50px;
}
header #signout:hover {
    background-image: url('/img/signouthoverbutton.jpg');
    cursor: pointer;
}
header #signout:active {
    background-image: url('/img/signoutpushedbutton.jpg');
    cursor: pointer;
}
#main, footer {
    width: 630px;
    margin: 80px auto;
}
#main h1 {
    text-align: center;
    font-size: 32px;
    // font-weight: 500;
    color: #696969;
    // text-shadow:  -1px -1px #525252;
    letter-spacing: -.3px;
    margin-bottom: 30px;
}

#mainblock {
    border: solid 5px #CCC;
    @include border-radius(8px, 8px);
}

#task {
    padding: 20px;
    background: #ededed;
    background-image: url('/img/addtaskbackground.jpg');
}

input#addtasktextfield.inactive {
    color: #CCC;
}

input#addtasktextfield {
    border: 1px solid #C4C4C4;
    height: 40px;
    background: url('/img/addtasktextfieldbackground.jpg');
    background-repeat: repeat-x;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    color: #333;
    width: 420px;
}

#addtaskbutton {
    background-color: #1782ff;
    background: url('/img/addtaskbuttonbackground.jpg');
    border: 1px solid #2f53cd;
    font-size: 16px;
    @include border-radius(5px, 5px);
    color: #FFF;
    text-shadow: -1px -1px #2f53cd, 1px 1px #73aaff;
    height: 42px;
    margin-left: 20px;
    width: 120px;
    text-align: center;
    font-weight: bold;
}
#addtaskbutton:hover {
    background-color: #0b92ff;
    background: url('/img/addtaskbuttonhoverbackground.jpg');
    cursor: pointer;
}
#addtaskbutton:active {
    background-color: #306dff;
    background: url('/img/addtaskbuttonpushedbackground.jpg');
    cursor: pointer;
}

.item {
    font-size: 14px;
    border-top: 1px solid #EEE;
    height: 39px;
    line-height: 39px;
    padding-left: 20px;
}
.item:first-child {
    border-top: 1px solid #DDD;
}
.item label { margin-left: 10px; padding-left: 0;}
.item.done {
    @include opacity(.2);
}
#webpageinfo {
    font-size: 10px;
    color: #CCC;
}
